body {
	background:#333;
	font-family:microsoft yahei, Arial, Helvetica, sans-serif; 
	color:#fff;
}

	.content {
		padding:30px;
	}

	h1 {
		font-size:26px;
		margin:30px 0;
	}

	.tabs {
	width: 90%;
	float: none;
	list-style: none;
	position: relative;
	text-align: left;
	}

	.tabs li {
	float: left;
	display: block;
	}

	.tabs input[type="radio"] {
	position: absolute;
	top: -9999px;
	left: -9999px;
	}

	.tabs label {
	display: block;
	padding: 14px 21px;
	border-radius: 2px 2px 0 0;
	font-size: 20px;
	font-weight: normal;
	text-transform: uppercase;
	background: #555;
	cursor: pointer;
	position: relative;
	top: 4px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	}

	.tabs label:hover {
	background: #777;
	}

	.tabs .tab-content {
	z-index: 2;
	display: none;
	overflow: hidden;
	width: 100%;
	font-size: 17px;
	line-height: 25px;
	padding: 25px;
	position: absolute;
	top: 53px;
	left: 0;
	background: #fff;
	color: #000;
	}

	.tabs [id^="tab"]:checked + label {
	top: 0;
	padding-top: 17px;
	background: #fff;
	color: #000;
	}

	.tabs [id^="tab"]:checked ~ [id^="tab-content"] {
	display: block;
	}
	
	.myDiv{

		border-color:#0000FF;
		border: 1px solid ;
		margin-top:10p;
		margin-bottom:10px;
		padding:10px 10px 10px 10px;
	}

	.divTable{
		float:left;
	}


	
	
	
	
	
	