<script>
    function _classCallCheck(instance, Constructor) { if (!(instance instanceof Constructor)) { throw new TypeError("Cannot call a class as a function"); } }
    function _possibleConstructorReturn(self, call) { if (!self) { throw new ReferenceError("this hasn't been initialised - super() hasn't been called"); } return call && (typeof call === "object" || typeof call === "function") ? call : self; }
    function _inherits(subClass, superClass) { if (typeof superClass !== "function" && superClass !== null) { throw new TypeError("Super expression must either be null or a function, not " + typeof superClass); } subClass.prototype = Object.create(superClass && superClass.prototype, { constructor: { value: subClass, enumerable: false, writable: true, configurable: true } }); if (superClass) Object.setPrototypeOf ? Object.setPrototypeOf(subClass, superClass) : subClass.__proto__ = superClass; }

    var cloudecSetDataCanvasSize = function (width, height) {
        var cloudecDataCanvas = document.getElementById('CloudEC:dataCanvas');
        cloudecDataCanvas.style.cssText = "left: 0px;top: 0px;width: " + width + "px;height: " + height + "px; z-index: 1;background: black;"
    }
    var data_coudec_canvas_css = "left: 0px;top: 0px;width: 800px;height: 600px; z-index: 1;background: black;"

    var CloudEC_DataCanvas = function (_HTMLElement) {
        _inherits(CloudEC_DataCanvas, _HTMLElement);

        function CloudEC_DataCanvas() {
            _classCallCheck(this, CloudEC_DataCanvas);
            return _possibleConstructorReturn(this, (CloudEC_DataCanvas.__proto__ || Object.getPrototypeOf(CloudEC_DataCanvas)).call(this));
        }


        CloudEC_DataCanvas.prototype.connectedCallback = function () {
            console.log("it's alive! connectedCallback");
            this.callback()
        }

        CloudEC_DataCanvas.prototype.createdCallback = function () {
            console.log("it's alive! createdCallback");
            this.callback()
        }

        CloudEC_DataCanvas.prototype.callback = function () {
            var canvasDiv = document.createElement('div')
            // canvasDiv.setAttribute("id", "CloudEC:dataCanvasDiv")
            var cloudecDataCanvas = document.getElementById('cloudec-datacanvas');

            if (cloudecDataCanvas) {
                var cloudecDataCanvasWidth = document.getElementById('cloudec-datacanvas').getAttribute('width')
                var cloudecDataCanvasHeight = document.getElementById('cloudec-datacanvas').getAttribute('height')
                if (cloudecDataCanvasWidth != null && cloudecDataCanvasHeight != null) {
                    data_coudec_canvas_css = "left: 0px;top: 0px;width: " + cloudecDataCanvasWidth + ";height: " + cloudecDataCanvasHeight + "; z-index: 1;background: black;"
                }
            }

            var dataCanvas = this.makeCanvas("CloudEC:dataCanvas", data_coudec_canvas_css)

            canvasDiv.appendChild(dataCanvas)
            this.appendChild(canvasDiv)
        }

        CloudEC_DataCanvas.prototype.makeCanvas = function (id_att, css) {
            var canvas = document.createElement('canvas')
            canvas.style.cssText = css
            canvas.innerHTML = "Canvas not supported"
            canvas.setAttribute("id", id_att)
            canvas.setAttribute("width", canvas.style.width)
            canvas.setAttribute("height", canvas.style.height)
            return canvas
        }
        return CloudEC_DataCanvas;
    }(HTMLElement);

    customElements.define("cloudec-datacanvas", CloudEC_DataCanvas);

</script>