<script>
    function _classCallCheck(instance, Constructor) { if (!(instance instanceof Constructor)) { throw new TypeError("Cannot call a class as a function"); } }
    function _possibleConstructorReturn(self, call) { if (!self) { throw new ReferenceError("this hasn't been initialised - super() hasn't been called"); } return call && (typeof call === "object" || typeof call === "function") ? call : self; }
    function _inherits(subClass, superClass) { if (typeof superClass !== "function" && superClass !== null) { throw new TypeError("Super expression must either be null or a function, not " + typeof superClass); } subClass.prototype = Object.create(superClass && superClass.prototype, { constructor: { value: subClass, enumerable: false, writable: true, configurable: true } }); if (superClass) Object.setPrototypeOf ? Object.setPrototypeOf(subClass, superClass) : subClass.__proto__ = superClass; }
 
    var cloudec_current_index = 0;    

    var searchContact = function (pageIndex) {
        var queryParam = document.getElementById("contact_ipt").value;
        var div = document.getElementById("cloudec_contactlist_div")
        var table = document.getElementById("cloudec_contactlist_table")
        if (table) {
            div.removeChild(table)
        }

        client.searchUserInfo({condition: queryParam, pageIndex:pageIndex, searchType:0}, function (ret) {
            if (ret.result) {
                var t = document.createElement("table")
                t.id = "cloudec_contactlist_table"
                t.insertRow(0)
                var r = t.insertRow(0);
                var c = r.insertCell(0);
                c.innerHTML = "name";
                c = r.insertCell(1);
                c.innerHTML = "staffNo";
                c = r.insertCell(2);
                c.innerHTML = "gender";
                c = r.insertCell(3);
                c.innerHTML = "ucAccount";
                c = r.insertCell(4);
                c.innerHTML = "deptName";
                c = r.insertCell(5);
                c.innerHTML = "position";
                c = r.insertCell(6);
                c.innerHTML = "mobile";
                c = r.insertCell(7);
                c.innerHTML = "homePhone";
                c = r.insertCell(8);
                c.innerHTML = "officePhone";
                c = r.insertCell(9);
                c.innerHTML = "officePhone2";
                c = r.insertCell(10);
                c.innerHTML = "otherPhone";
                c = r.insertCell(11);
                c.innerHTML = "otherPhone2";
                c = r.insertCell(12);
                c.innerHTML = "espaceNumber";
                c = r.insertCell(13);
                c.innerHTML = "fax";
                c = r.insertCell(14);
                c.innerHTML = "zipCode";
                c = r.insertCell(15);
                c.innerHTML = "email";
                c = r.insertCell(16);
                c.innerHTML = "address";
                c = r.insertCell(17);
                c.innerHTML = "signature";
                c = r.insertCell(18);
                c.innerHTML = "website";
                c = r.insertCell(19);
                c.innerHTML = "headId";

                var data = ret.info

                for (var m in data) {
                    r = t.insertRow(parseInt(m) + 1);
                    c = r.insertCell(0);
                    c.innerHTML = data[m].name;
                    c = r.insertCell(1);
                    c.innerHTML = data[m].staffNo;
                    c = r.insertCell(2);
                    c.innerHTML = data[m].gender;
                    c = r.insertCell(3);
                    c.innerHTML = data[m].ucAccount;
                    c = r.insertCell(4);
                    c.innerHTML = data[m].deptName;
                    c = r.insertCell(5);
                    c.innerHTML = data[m].position;
                    c = r.insertCell(6);
                    c.innerHTML = data[m].mobile;
                    c = r.insertCell(7);
                    c.innerHTML = data[m].homePhone;
                    c = r.insertCell(8);
                    c.innerHTML = data[m].officePhone;
                    c = r.insertCell(9);
                    c.innerHTML = data[m].officePhone2;
                    c = r.insertCell(10);
                    c.innerHTML = data[m].otherPhone;
                    c = r.insertCell(11);
                    c.innerHTML = data[m].otherPhone2;
                    c = r.insertCell(12);
                    c.innerHTML = data[m].espaceNumber;
                    c = r.insertCell(13);
                    c.innerHTML = data[m].fax;
                    c = r.insertCell(14);
                    c.innerHTML = data[m].zipCode;
                    c = r.insertCell(15);
                    c.innerHTML = data[m].email;
                    c = r.insertCell(16);
                    c.innerHTML = data[m].address;
                    c = r.insertCell(17);
                    c.innerHTML = data[m].signature;
                    c = r.insertCell(18);
                    c.innerHTML = data[m].website; 
                    c = r.insertCell(19);
                    c.innerHTML = data[m].headId;                
                }
                div.appendChild(t)
            }
        })
    }

    var CloudEC_ContactList = function (_HTMLElement) {
        _inherits(CloudEC_ContactList, _HTMLElement);

        function CloudEC_ContactList() {
            _classCallCheck(this, CloudEC_ContactList);
            return _possibleConstructorReturn(this, (CloudEC_ContactList.__proto__ || Object.getPrototypeOf(CloudEC_ContactList)).call(this));
        }


        CloudEC_ContactList.prototype.connectedCallback = function () {
            console.log("it's alive! connectedCallback");
            this.callback()
        }

        CloudEC_ContactList.prototype.createdCallback = function () {
            console.log("it's alive! createdCallback");
            this.callback()
        }

        CloudEC_ContactList.prototype.callback = function () {
            var cloudec_contactlist_div = document.createElement('div')
            cloudec_contactlist_div.id = "cloudec_contactlist_div"
            
            var contact_ipt = document.createElement('input');
            contact_ipt.id = "contact_ipt";
            contact_ipt.style.cssText = "height: 24px;margin-left: 5px;margin-right: 5px;width: 80px;";

            var search_btn = document.createElement('button')
            search_btn.innerHTML = "search"
            search_btn.addEventListener("mousedown", this.searchContactFirst)

            var n_btn = document.createElement("button")
            n_btn.innerHTML = "next page"
            n_btn.onclick = function () {
                cloudec_current_index += 1;                
                searchContact(cloudec_current_index)
            }

            var u_btn = document.createElement("button")
            u_btn.innerHTML = "last page"
            u_btn.onclick = function () {
                cloudec_current_index -= 1;
                if (cloudec_current_index < 1) {
                    cloudec_current_index = 1
                }
                searchContact(cloudec_current_index)
            }

            cloudec_contactlist_div.appendChild(contact_ipt)
            cloudec_contactlist_div.appendChild(search_btn)
            cloudec_contactlist_div.appendChild(n_btn)
            cloudec_contactlist_div.appendChild(u_btn)
            this.appendChild(cloudec_contactlist_div)
        }

        CloudEC_ContactList.prototype.searchContactFirst = function () {
            cloudec_current_index = 1            
            searchContact(cloudec_current_index)
        }

        return CloudEC_ContactList;
    }(HTMLElement);

    customElements.define("cloudec-eaddrcontact", CloudEC_ContactList);

</script>