<script>
  function _classCallCheck(instance, Constructor) { if (!(instance instanceof Constructor)) { throw new TypeError("Cannot call a class as a function"); } }
  function _possibleConstructorReturn(self, call) { if (!self) { throw new ReferenceError("this hasn't been initialised - super() hasn't been called"); } return call && (typeof call === "object" || typeof call === "function") ? call : self; }
  function _inherits(subClass, superClass) { if (typeof superClass !== "function" && superClass !== null) { throw new TypeError("Super expression must either be null or a function, not " + typeof superClass); } subClass.prototype = Object.create(superClass && superClass.prototype, { constructor: { value: subClass, enumerable: false, writable: true, configurable: true } }); if (superClass) Object.setPrototypeOf ? Object.setPrototypeOf(subClass, superClass) : subClass.__proto__ = superClass; }

  var min_coudev_canvas_css = "position: absolute;left: 0px;top: 0px;width: 120px;height: 80px; z-index: 999;background: #c7c7c7;";
  var max_coudev_canvas_css = "position: absolute;left: 0px;top: 0px;width: 640px;height: 480px; z-index: 1;background: black;";
  function makeCanvas(id_att, css) {
    var canvas = document.createElement('canvas')
    canvas.style.cssText = css
    canvas.innerHTML = "Canvas not supported"
    canvas.setAttribute("id", id_att)
    return canvas
  }

  function moveable(min_canvas, max_canvas) {
    var is_mouse_down = false;
    min_canvas.addEventListener('mousedown', handOnMouseDown, false);
    function handOnMouseDown(e) {
      var ev = e || event;
      var disX = ev.clientX - parseInt(min_canvas.style.left);
      var disY = ev.clientY - parseInt(min_canvas.style.top);
      is_mouse_down = true;

      document.onmousemove = function (e) {
        if (is_mouse_down) {
          var ev = e || event;
          var l = ev.clientX - disX;
          var t = ev.clientY - disY;

          if (l < 0) {
            l = 0;
          } else if (l > max_canvas.offsetWidth - min_canvas.offsetWidth) {
            l = max_canvas.offsetWidth - min_canvas.offsetWidth;
          }

          if (t < 0) {
            t = 0;
          } else if (t > max_canvas.offsetHeight - min_canvas.offsetHeight) {
            t = max_canvas.offsetHeight - min_canvas.offsetHeight;
          }
          min_canvas.style.left = l + 'px';
          min_canvas.style.top = t + 'px';
        }
      }
    }

    document.onmouseup = function () {
      if (is_mouse_down) {
        is_mouse_down = false;
      }
    }
  }

  var CloudEC_Canvas = function (_HTMLElement) {
    _inherits(CloudEC_Canvas, _HTMLElement);

    function CloudEC_Canvas() {
      _classCallCheck(this, CloudEC_Canvas);
      return _possibleConstructorReturn(this, (CloudEC_Canvas.__proto__ || Object.getPrototypeOf(CloudEC_Canvas)).call(this));
    }


    CloudEC_Canvas.prototype.connectedCallback = function () {
      console.log("it's alive! connectedCallback");
      this.callback()
    }

    CloudEC_Canvas.prototype.createdCallback = function () {
      console.log("it's alive! createdCallback");
      this.callback()
    }

    CloudEC_Canvas.prototype.callback = function () {
      console.log("callback")
      var canvasDiv = document.createElement('div');
      canvasDiv.setAttribute("id", "CloudEC:canvasDiv");
      canvasDiv.style.cssText = "position: relative;left: 0px;top: 0px;";

      var remoteCanvas = makeCanvas("CloudEC:remoteCanvas", max_coudev_canvas_css)
      var localCanvas = makeCanvas("CloudEC:localCanvas", min_coudev_canvas_css)

      moveable(localCanvas, remoteCanvas)
      canvasDiv.appendChild(remoteCanvas)
      canvasDiv.appendChild(localCanvas)
      this.appendChild(canvasDiv);
    }
    return CloudEC_Canvas;
  }(HTMLElement);


  window.customElements.define('cloudec-canvas', CloudEC_Canvas);

</script>